<div class="container-xl">
    <div class="wrap" *ngIf="!loading; else showLoader">
        <app-sidebar (showAddForm)="showAddForm()" (closeControl)="onCloseControl()" (showRemoveForm)="showRemoveForm()"
            (showEditForm)="showEditForm()">
        </app-sidebar>

        <app-products *ngIf="displayItems; else displayEdit" [addEditForm]="addEditForm" [addRemoveForm]="addRemoveForm"
            [products]="products" (editProduct)="editProduct($event)">
        </app-products>
        <ng-template #displayEdit>
            <app-products-edit [products]="products" [productOnEdit]="editingProduct"></app-products-edit>
        </ng-template>
    </div>
    <ng-template #showLoader>
        <div class="lds-dual-ring"></div>
    </ng-template>
</div>