.products {
  color: white;
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
}
.no-products_image {
  width: 60px;
  height: 50px;
  background: url("../../../assets/images/arrow.png") center / cover no-repeat;
}

.no-products_title {
  font-size: 16px;
  color: white;
  background-color: #222;
  border-radius: 4px;
  padding: 10px 30px;
  text-align: center;
}
