<p *ngIf="addRemoveForm && products.length" class="alert-danger">Выберите продукт чтобы удалить</p>

<P *ngIf="addEditForm && products.length" class="alert-edit">Выберите продукт чтобы редактировать</P>

<p *ngIf="error; else showProduct" class="error"> {{error}}</p>

<ng-template #showProduct>
    <div *ngIf="products; else noProducts" class="products">
        <app-product-item *ngFor="let productItem of products" [product]="productItem"
            (removeProduct)="removeProduct($event)" (editProduct)="onEditProduct($event)"
            [addRemoveForm]="addRemoveForm" [addEditForm]="addEditForm">
        </app-product-item>
    </div>

    <ng-template #noProducts>
        <p class="no-products_title">Упс, нет продуктов, пожалуйста добавьте</p>
        <div class="no-products_image"></div>
    </ng-template>
</ng-template>