.cart {
  width: 80%;
  height: 600px;
  margin: 0 auto;
  color: white;
  display: flex;
  align-items: center;
  background-color: #111;
  border-radius: 4px;

  &_image {
    flex: 1;
    width: 400px;
    height: 400px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &_info {
    height: 100%;
    padding: 0 20px;
    text-align: center;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #222;
    border-radius: 0 4px 4px 0;

    &_description {
      text-align: left;
    }
  }
}

.paypal-button-container {
  width: 50%;
  margin: 0 auto;
}

.cart_empty {
  color: white;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
}

.regard_title {
  padding: 5px 0;
  background-color: #222;
  border: 1px solid #0094f2;
  color: white;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
}

.regard_description {
  background-color: #222;
  border: 1px solid rgb(0, 251, 42);
  color: white;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.3rem;
}

.regard_btn {
  margin: 20px auto;
  background-color: #0094f2;
  position: relative;
  left: 50%;
  width: 20%;
  height: 50px;
  transform: translate(-50%);
}