<div *ngIf="!purchase; else showRegard">
    <div class="cart" *ngIf="product; else noProduct">
        <div class="cart_image">
            <img [src]="product.imagePath" [alt]="product.title">
        </div>
        <div class="cart_info">
            <h1>{{product.title}}</h1>
            <ul class="cart_info_description">
                <p>Описание:</p>
                <li *ngFor="let description of product.description">
                    {{description}}
                </li>
                <p class="cart_info_screen-size">Размер экрана: {{product.screenSize}}"</p>
            </ul>
            <p class="cart_counter">Этот продукт был куплен {{product.boughtCounter}} раз</p>
            <p>Цена: {{product.price}}$</p>
            <div class="paypal-button-container"></div>
        </div>
    </div>

    <ng-template #noProduct>
        <h3 class="cart_empty">Ваша коризна пуста</h3>
    </ng-template>
</div>

<ng-template #showRegard>
    <div class="regard">
        <p class="regard_title">Спасибо, {{payerInfo.name.given_name}} {{payerInfo.name.surname}}, что приобрели данный
            продукт!</p>
        <div class="cart">
            <div class="cart_image">
                <img [src]="product.imagePath" [alt]="product.title">
            </div>
            <div class="cart_info">
                <h1>{{product.title}}</h1>
                <ul class="cart_info_description">
                    <p>Описание:</p>
                    <li *ngFor="let description of product.description">
                        {{description}}
                    </li>
                    <p class="cart_info_screen-size">Размер экрана: {{product.screenSize}}"</p>
                </ul>
                <p>Цена: {{product.price}}$</p>
            </div>
        </div>
        <p class="regard_description">
            *Ваша посылка будет доставлена по адресу: {{shippingData.country_code}},
            {{shippingData.admin_area_2}},{{shippingData.address_line_1}}
        </p>
        <button class="regard_btn btn" (click)="onReturn()">Вернуться</button>
    </div>
</ng-template>