<section class="nav">
    <div class="container-md">
        <nav class="navbar">
            <div class="navbar_section">
                <div class="logo"></div>
                <a routerLink="/" class="navbar_item">Продукты</a>
            </div>
            <div class="navbar_section" (click)="goToCart()">
                <div class="cart">
                    <div class="cart-img">
                        <img src="../../../assets/images/cart.png" alt="cart">
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>
<router-outlet></router-outlet>