.nav {
  height: 60px;
  margin-bottom: 40px;
  background: #222222;
}

.logo {
  width: 150px;
  height: 23px;
  background: url("//www.asus.com/media/img/2017/images/n-logo-asus-white.svg") center / contain no-repeat;
}

.cart {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  &:hover {
    background-color: #666;
  }
}

.cart-img {
  padding: 10px;
  height: 40px;
  width: 40px;

  & img {
    height: 100%;
    width: 100%;
  }
}

.cart-counter {
  width: 20px;
  height: 20px;
  background-color: #bada55;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  align-self: flex-end;
  margin: 0 5px 5px 0;
}

.navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_item {
    margin: 0 20px;
    padding: 20px;
    text-decoration: none;
    color: white;

    &:hover {
      background-color: #666;
    }
  }
}
