<p *ngIf="error; else showProduct" class="error"> {{error}}</p>

<ng-template #showProduct>

    <section class="products-edit" *ngIf="productOnEdit !== null; else showEditingForm">
        <p *ngIf="productWasAdded" class="alert-edit">
            Продукт был изменен!</p>
        <form class="products_form" [formGroup]="form" (ngSubmit)="onEditProduct()">

            <div class="form_item">
                <label for="title" class="form_item_label">Название</label>
                <input type="text" id="title" class="input" formControlName="title">
            </div>

            <div *ngIf="title.invalid && title.touched" class="validation">
                <small *ngIf="title.errors.required">
                    *Поле "Название" не может быть пустым.
                </small>
                <small *ngIf="title.errors.minlength">
                    *В названии должно быть не менее {{title.errors.minlength.requiredLength}} символов.
                </small>
            </div>

            <div class="form_item_control" formGroupName="description">
                <button class="btn confirm" type="button" (click)="addDescription()">Добавить описание</button>
                <ul class="form-control">
                    <li *ngFor="let control of description.controls; let i = index" class="form-control_item">
                        <input type="text" [formControlName]="i" class="input">
                    </li>
                </ul>
            </div>

            <div class="form_item">
                <label for="screenSize" class="form_item_label">Размер экрана</label>
                <input type="number" id="screenSize" class="input" formControlName="screenSize">
            </div>

            <div *ngIf="screenSize.invalid && screenSize.touched" class="validation">
                <small *ngIf="screenSize.errors.required">
                    *Поле "Размер экрана" не может быть пустым.
                </small>
            </div>

            <div class="form_item">
                <label for="imagePath" class="form_item_label">Ссылка на <br /> изображение</label>
                <input type="text" id="imagePath" class="input" formControlName="imagePath">
            </div>

            <div *ngIf="imagePath.invalid && imagePath.touched" class="validation">
                <small *ngIf="imagePath.errors.required">
                    *Ссылка на изображение не может быть пустой.
                </small>
                <small *ngIf="imagePath.errors.minlength">
                    *В ссылке должно быть не менее {{imagePath.errors.minlength.requiredLength}} символов.
                </small>
            </div>

            <div class="form_item">
                <label for="price" class="form_item_label">Цена</label>
                <input type="number" id="price" class="input" formControlName="price">
            </div>

            <div *ngIf="price.invalid && price.touched" class="validation">
                <small *ngIf="price.errors.required">
                    *Поле 'Цена' не может быть пустым.
                </small>
            </div>

            <div class="form_buttons">
                <button class="confirm btn" type="submit" [disabled]="form.invalid">Изменить</button>
            </div>
        </form>
    </section>

    <ng-template #showEditingForm>
        <p *ngIf="productWasAdded" class="alert-success">
            Продукт был добавлен!</p>
        <form class="products_form" [formGroup]="form" (ngSubmit)="addProduct()">

            <div class="form_item">
                <label for="title" class="form_item_label">Название</label>
                <input type="text" id="title" class="input" formControlName="title">
            </div>

            <div *ngIf="title.invalid && title.touched" class="validation">
                <small *ngIf="title.errors.required">
                    *Поле "Название" не может быть пустым.
                </small>
                <small *ngIf="title.errors.minlength">
                    *В названии должно быть не менее {{title.errors.minlength.requiredLength}} символов.
                </small>
            </div>

            <div class="form_item_control" formGroupName="description">
                <button class="btn confirm" type="button" (click)="addDescription()">Добавить описание</button>
                <ul class="form-control">
                    <li *ngFor="let control of description.controls; let i = index" class="form-control_item">
                        <input type="text" [formControlName]="i" class="input">
                    </li>
                </ul>
            </div>

            <div class="form_item">
                <label for="screenSize" class="form_item_label">Размер экрана</label>
                <input type="number" id="screenSize" class="input" formControlName="screenSize">
            </div>

            <div *ngIf="screenSize.invalid && screenSize.touched" class="validation">
                <small *ngIf="screenSize.errors.required">
                    *Поле "Размер экрана" не может быть пустым.
                </small>
            </div>

            <div class="form_item">
                <label for="imagePath" class="form_item_label">Ссылка на <br /> изображение</label>
                <input type="text" id="imagePath" class="input" formControlName="imagePath">
            </div>

            <div *ngIf="imagePath.invalid && imagePath.touched" class="validation">
                <small *ngIf="imagePath.errors.required">
                    *Ссылка на изображение не может быть пустой.
                </small>
                <small *ngIf="imagePath.errors.minlength">
                    *В ссылке должно быть не менее {{imagePath.errors.minlength.requiredLength}} символов.
                </small>
            </div>

            <div class="form_item">
                <label for="price" class="form_item_label">Цена</label>
                <input type="number" id="price" class="input" formControlName="price">
            </div>

            <div *ngIf="price.invalid && price.touched" class="validation">
                <small *ngIf="price.errors.required">
                    *Поле 'Цена' не может быть пустым.
                </small>
            </div>

            <div class="form_buttons">
                <button class="confirm btn" type="submit" [disabled]="form.invalid">Подтвердить</button>
                <button class="cancel btn" type="button">Отменить</button>
            </div>
        </form>
    </ng-template>

</ng-template>