.products-edit {
  margin: 30px 0 0 30px;
}

.products_form {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_item {
  margin: 20px 0;
  width: 450px;
  display: flex;
  justify-content: space-between;
}

.form-control_item {
  margin-top: 10px;
}

.form_buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
