.product {
  &-item {
    height: 660px;
    width: 290px;
    background-color: #111111;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  &_screen-size {
    margin-right: 20px;
    height: fit-content;
    font-size: 1.3rem;
    z-index: 1;
  }

  &_counter {
    color: #a0a0a0;
  }

  &_image {
    height: 250px;
    width: 100%;
    display: flex;

    img {
      position: relative;
      top: 5%;
      left: 10%;
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  &_name {
    text-transform: uppercase;
    font-size: 16px;
  }

  &_description {
    text-align: left;
    color: #a0a0a0;
    font-size: 1rem;
    max-height: 90px;
  }

  &_button {
    margin: 20px auto;
    background-color: #0094f2;

    &:disabled {
      cursor: not-allowed;
      background-color: #222;
    }

    &:hover {
      background-image: linear-gradient(45deg, #00c0ff 0%, #ff0088 100%);

      &:disabled {
        cursor: not-allowed;
        background-color: #222;
      }
    }
  }
}

.bg-red {
  transition: transform 0.5s;

  &:hover {
    box-sizing: border-box;
    border: 1px solid red;
    border-radius: 4px;
    cursor: pointer;
    transform: scale(1.05);
  }
}

.bg-yellow {
  transition: transform 0.5s;

  &:hover {
    box-sizing: border-box;
    border: 1px solid yellow;
    border-radius: 4px;
    cursor: pointer;
    transform: scale(1.05);
  }
}
