<div [ngClass]="{'bg-red': addRemoveForm, 'bg-yellow': addEditForm}" (click)="onAction()">
    <div class="product-item">
        <div class="product_image">
            <img src="{{product.imagePath}}" alt="{{product.title}}">
            <p class="product_screen-size">{{product.screenSize}}"</p>
        </div>
        <p class="product_name">{{product.title}}</p>
        <ul class="product_description">
            <li *ngFor="let productDescription of product.description">{{productDescription}}</li>
        </ul>
        <p>Цена: {{product.price}}$</p>
        <small class="product_counter">Этот продукт купили: <strong>{{product.boughtCounter}}</strong> раз</small>
        <button class="product_button btn" [disabled]="addRemoveForm" (click)="moveToCart()">Купить</button>
    </div>
</div>