<section class="sidebar">
    <div class="container-xl">
        <ul class="sidebar-list">
            <li class="sidebar-list_item">Ноутбуки (9)</li>
        </ul>
        <div class="sidebar-controls">
            <div class="edit" *ngIf="hideButtons; else showButtons">
                <button (click)="onReturn()" class="return btn">Вернуться</button>
            </div>
            <ng-template #showButtons>
                <div class="edit">
                    <button [ngStyle]="{display: hideButtons ? 'none' : 'block'}" (click)="onAddProduct()"
                        class="confirm btn">Добавить</button>
                    <button [ngStyle]="{display: hideButtons ? 'none' : 'block'}" (click)="onEditProduct()"
                        class="edit_update btn">Редактировать</button>
                    <button [ngStyle]="{display: hideButtons ? 'none' : 'block'}" (click)="onRemoveProduct()"
                        class="cancel btn">Удалить</button>
                </div>
            </ng-template>
        </div>
    </div>
</section>