.sidebar {
    color: white;
    margin-right: 30px;

    &-list {
        list-style: none;
        width: 200px;
        padding-right: 20px;

        &_item {
            font-family: 'Segoe UI', sans-serif;
            font-size: 30px;
            padding-bottom: 20px;
        }
    }
}

.edit {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &_update {
        background-color: #FFA500;
        margin: 0 20px 20px 20px;

        &:hover {
            background-color: #c27e00;
        }
    }
}