body {
  font-family: "Segoe UI", sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-md {
  max-width: 1150px;
  margin: 0 auto;
}

.container-xl {
  max-width: 1600px;
  margin: 0 auto;
}

.btn {
  padding: 12px 40px;
  border-radius: 4px;
  color: white;
  border: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    background-color: #ccc;
  }
}

.confirm {
  background-color: #bada55;
  margin: 0 20px 20px 20px;

  &:hover {
    background-color: #7e9438;
    &:disabled {
      cursor: not-allowed;
      background-color: #ccc;
    }
  }
}

.cancel {
  background-color: #ff7373;
  margin: 0 20px 20px 20px;

  &:hover {
    background-color: #b15050;
  }
}

.return {
  background-color: #222;
  margin: 0 20px 20px 20px;

  &:hover {
    background-color: #555;
  }
}

.input {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #222222;
  color: white;
  outline: none;

  &.ng-invalid.ng-touched {
    border: 1px solid red;
    border-radius: 4px;
  }
  &.ng-valid.ng-touched {
    border: 1px solid #00ff00;
    border-radius: 4px;
  }
}

.alert-success {
  margin: 0 auto;
  width: 600px;
  background-color: #bada55;
  font-size: 2rem;
  border-radius: 4px;
  text-align: center;
  color: white;
  animation: display 1s ease;
}

.alert-danger {
  margin: 10px auto;
  width: 600px;
  background-color: #ff7373;
  font-size: 2rem;
  border-radius: 4px;
  text-align: center;
  color: white;
  animation: display 1s ease;
}

.alert-edit {
  margin: 10px auto;
  width: 600px;
  background-color: #8b8910;
  font-size: 2rem;
  border-radius: 4px;
  text-align: center;
  color: white;
  animation: display 1s ease;
}

.validation {
  color: red;
  margin-left: 60px;
}

p {
  &.error {
    color: red;
  }
}

@keyframes display {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
